@* @model List<OrnekProje.Models.Product>

<ul>
    @foreach (var item in Model)
    {
        <li>@item.Id</li>
        <li>@item.ProductName</li>
        <li>@item.Quantity</li>
    }
</ul> *@
<h3> ViewBag</h3>
<ul>
    @foreach (var item in ViewBag.Products as List<OrnekProje.Models.Product>)
    {
        <li>@item.Id</li>
        <li>@item.ProductName</li>
        <li>@item.Quantity</li>
    }
</ul>

<h3> ViewData</h3>

<ul>
    @foreach (var item in ViewData["products"] as List<OrnekProje.Models.Product>)
    {
        <li>@item.Id</li>
        <li>@item.ProductName</li>
        <li>@item.Quantity</li>
    }
</ul>

<h3> TempData</h3>

<ul>
    @foreach (var item in TempData["products"] as List<OrnekProje.Models.Product>)
    {
        <li>@item.Id</li>
        <li>@item.ProductName</li>
        <li>@item.Quantity</li>
    }
</ul>
