@model List<string>

 
<section id="slider">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <!-- Daha fazla indicator eklemek isterseniz buraya ekleyebilirsiniz -->
        </ol>
        <div class="carousel-inner">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="carousel-item @((i == 0) ? "active" : "")">
                    <img class="d-block w-100" src="@Model[i]" alt="Slide @i">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Başlık @i</h5>
                        <p>Açıklama @i</p>
                    </div>
                </div>
            }
            @* <div class="carousel-item">
                <img class="d-block w-100" src="https://png.pngtree.com/png-clipart/20230508/original/pngtree-the-banana-png-image_9149388.png" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>İkinci Slide Başlık</h5>
                    <p>Buraya ikinci slide için açıklama gelebilir.</p>
                </div>
            </div> *@
            <!-- Daha fazla slide eklemek isterseniz buraya ekleyebilirsiniz -->
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Önceki</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Sonraki</span>
        </a>
    </div>
</section>
